venv
.env
.venv
env
ENV/
env.bak/
venv.bak/
.vscode
env
sBs_dockerContainer-up.txt
docker-compose.yml
db.sqlite3
README.md
basic
middle
aula_json.json
lista_de_tarefas.json
test.txt
sqlite
oop
mysqlcomdocker
sqlite3
aula_json.json 
lista_de_tarefas.json
test.txt
sqlite
oop
README.md
